h1 {
    display: inline-block;
    font-family: cursive;
    color: rgba(3, 32, 32, 0.438);
    margin: 0px;
    padding: 0px;
}

h3 {
    font-family: cursive;
    color: rgb(233, 138, 60);
}

#username {
    display: inline-block;
    font-size: 20px;
    font-family: cursive;
    font-weight: 600;
    color: rgb(248, 162, 152, 0.7);
    left: 750px;
    top: 8px;
    position: absolute;
}