<div id='wrapper'>
    <div class="world" [ngStyle]="mapBg.style">
        <div *ngFor='let x of worldnew | async' class='row'>
            <div *ngFor='let y of x ' class="{{y}}" [ngStyle]="y == 'land' && {'background': mapBl.style.background}"></div>
        </div>
    </div>
    <div id="result">
        <p class='score'>Score:{{score}}</p>
        <div id='display'>
            <p id="guess">Who's That Pokémon?</p>
            <br>
            <span id='showpn' *ngFor='let x of displaypokemonname| async'>{{x}}</span>
        </div>
        <div *ngFor='let y of displayimgAndTitle| async'>
            <hr>
            <p class='score'>You just caught a pokémon!</p>
            <p class='score'>{{y.title}}</p>
            <img src="{{y.url}}">
            <hr>
        </div>
        <p class='score'>Best hunter:</p>
        <p class='topfive' *ngFor='let s of topfive | async'>{{s.name}} ---- {{s.score}}</p>
    </div>
    <img *ngFor='let h of gamersposition | async' class='pokemon' [ngStyle]="{         
        'top.px': h.top,
        'left.px': h.left,
        'background':h.img,
        'border':none
      }">

</div>
<!-- src='{{h.img}}' -->