button {
    height: 100px;
    width: 125px;
    padding: 5px;
    margin: 10px;
    /* background-color: red;  */
}

#usernameInputContain {
    background: rgba(0, 0, 0, 0.5);
    /* width: 50%; */
    /* text-align: left; */
}

#usernameInput label{
    color: white;
}

/* .container label {
    position: relative;
  }
.container img.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #A8AAC1;
  border-radius: 50px;
}
.container img.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label img.radio::after {
  left: -27px;
  background-color: #EBFF43;
} */

#wrapper{
    text-align: center;
    background-image: url(../../assets/images/ditto.png);
    background-size: contain;
}

#menu, .input-group{
    /* display: inline-block; */
    text-align: center;
    /* background-color: red; */
}

.input-group{
    display: inline-block;
    text-align: center;
    /* height: 50%; */
}

.input-manip{
    /* width: 20%; */
    display: inline-block;
    /* height: 50% */
    vertical-align: top;
}

.input-group-text{
    display: inline-block;
    background-color:#dc3545;
    border: solid maroon 2px;
    height: 75px;
    /* width: 20vw; */
}

.input-group-prepend{
    /* background-color: red; */
    /* border: solid black 2px; */
}

.danger{
    background: rgba(black, 0.5);
    font-weight: bold;
    color: red;
}

/* img{
    margin-right: 10px;
} */

label{
    display: inline-block;
    padding: 10px;
}
