h3 {
    background: rgba(241, 6, 143, 0.06);
}

button {
    height: 100px;
    width: 125px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    font-family: cursive
}

#usernameInputContain {
    background: rgba(0, 0, 0, 0.5);
}

#labelForusername {
    color: white;
    font-size: 30px;
    font-family: cursive
}

#wrapper {
    text-align: center;
    background-image: url(../../assets/images/ditto.png);
    background-size: contain;
}

#menu,
.input-group {
    text-align: center;
    display: inline-block;
}

.input-manip {
    display: inline-block;
    vertical-align: top;
}

.input-group-text {
    display: inline-block;
    background-color: #dc3545;
    border: solid maroon 2px;
    height: 75px;
}

.danger {
    background: rgba(black, 0.5);
    font-weight: bold;
    color: red;
}

label {
    display: inline-block;
    padding: 10px;
}